.footer {
  background-color: var(--bgn-color);
}

.logo-secondary {
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.footer-logo {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--brand-color);
  text-decoration: none;
}

.contacts-city {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.contacts-mail,
.contacts-tel {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-mail:hover,
.contacts-mail:focus {
  color: var(--brand-color);
}

.contacts-tel:hover,
.contacts-tel:focus {
  color: var(--brand-color);
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-logo {
  /* padding-top: 60px; */
  margin-bottom: 20px;
  display: block;
}

.contacts-city {
  margin-bottom: 9px;
}

.contacts-mail {
  display: block;
  margin-bottom: 9px;
}

.contacts-tel {
  display: block;
  /*padding-bottom: 60px;*/
}

.call-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}

.footer .container {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
}

.call-list {
  display: flex;
}

.footer-soc-networks {
  margin-left: 70px;
  /* padding-top: 72px;
  padding-bottom: 100px; */
}

.footer-social-item {
  width: 44px;
  height: 44px;
  margin-right: 10px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-item:last-child {
  margin-right: 0;
}

.footer-social-link {
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: #ffffff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background: #2196f3;
  }
}

.footer-email-input {
  margin-left: 93px;
}

.footer-form-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: #ffffff;
}

.footer-form {
  display: flex;
  margin-top: 20px;
}

.footer-form-input {
  width: 358px;
  height: 50px;
  padding: 15px 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0px 4px 4px rgb(0 0 0 / 15%);
  border-radius: 4px;
  background-color: transparent;
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
  letter-spacing: 0.03em;
  cursor: pointer;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    border-color: #2196f3;
    outline: none;
  }
}

.footer-form-submit {
  display: flex;
  width: 200px;
  height: 50px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: rgba(33, 150, 243, 1);
  box-shadow: 0px 4px 4px rgb(0 0 0 / 15%);
  border-radius: 4px;
  border: 0;
  margin-left: 10px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-form-icon {
  margin-left: 10px;
  fill: #ffffff;
}
