.features {
  padding-top: 94px;
  padding-bottom: 94px;
}

.features__list {
  display: flex;
}

.features__item {
  /* width: 270px; */
  margin-right: 30px;
}

.features__item:nth-child(4) {
  margin-right: 0;
}

/* .features-pic-list {
  display: flex;
} */

/* .features-pic-item {
  background-color: #f5f4fa;
  padding: 25px 102px;
  margin-right: 30px;
  margin-bottom: 30px;
  border-radius: 4px;
} */

.features__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--basic-text);
  margin-bottom: 10px;
}

.features__text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--second-text);
}

.features__box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 270px;
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
}

/* .features-pictures {
  display: flex;
  align-items: center;
  justify-content: center;
} */
