.header {
  border-bottom: 1px solid #ececec;
}

.projects {
  padding-top: 94px;
  padding-bottom: 94px;
}

.projects-list-btn {
  display: flex;
  /*padding-top: 94px;*/
  margin-bottom: 50px;
  justify-content: center;
}

.projects-item {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.projects-item-nav {
  margin-right: 8px;
  &:hover,
  &:focus {
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
  }
}

.projects-item-nav:last-child {
  margin-right: 0;
}

.projects-top-wrap {
  position: relative;
  overflow: hidden;
}

.projects-top-text {
  position: absolute;
  top: 0;
  color: #ffffff;
  background: rgba(33, 150, 243, 0.9);
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  padding: 63px 24px;
  height: 100%;
  transform: translateY(100%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.projects-item:hover .projects-top-text {
  transform: translateY(0);
}

.projects-list-nav {
  padding: 6px 22px;
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  background-color: #f5f4fa;
  cursor: pointer;
  border-radius: 4px;
  border: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: #ffffff;
    background-color: #2196f3;
  }
}

.work-list-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--basic-text);
}

.portfolio-small-text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--second-text);
}

.projects-list {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
  img {
    display: block;
  }
}

.projects-text {
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  padding: 24px 24px 20px 24px;
}

.projects-item {
  /*border: 1px solid #eeeeee;*/
  /* margin-right: 30px; */
  /* margin-bottom: 30px; */
  margin: 15px;
  flex-basis: calc(100% / 3 - 30px);
  cursor: pointer;
  &:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}

.work-list-title {
  margin-bottom: 4px;
}
