.social__list {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.social__item {
  width: 44px;
  height: 44px;
  margin-right: 10px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social__item:last-child {
  margin-right: 0;
}

.social__link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: #2196f3;
  }
}

.social__icon {
  fill: #afb1b8;
}

.social__link:hover .social__icon,
.social__link:focus .social__icon {
  fill: #ffffff;
}
