.works-title {
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--basic-text);
}

.works {
  padding-bottom: 94px;
  img {
    display: block;
  }
  .list {
    margin-top: 50px;
    display: flex;
    margin-right: 0;
  }
  .works-text-wrap {
    position: relative;
  }
}

.works-text {
  position: absolute;
  bottom: 0;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  background: rgba(47, 48, 58, 0.8);
  padding-top: 27px;
  padding-bottom: 27px;
  width: 100%;
  text-align: center;
}

.works-item {
  width: calc((100% - 30px) / 3);
  margin-right: 30px;
  margin-left: 0px;
}
.works-item:nth-child(3) {
  margin-right: 0;
}
